# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node
node_modules/
package-lock.json
yarn.lock
yarn-error.log

# Composer
vendor/

# Build
*.zip
dist/
build/

# Logs
*.log

# WordPress
wp-config.php
*.sql
